<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="row">
    <div class="col col-12">
      <div class="hero">
        <div class="hero-inner">
          <div class="hero-image"></div>
          <div class="hero-content">
            <!-- <h1 class="hero-title"><%= title %></h1> -->

            <% if (typeof user === 'undefined') { %>
            <h1 class="hero-title"><%= title %></h1>
            <% if (hasMessages) { %>
            <section class="messages">
              <% messages.forEach(function(message) { %>
              <p style="color: red"><%= message %></p>
              <% }); %>
            </section>
            <% } %>
            <form action="/auth/login" method="post">
              <!-- Email input -->
              <label class="login-label" for="username">User Name</label>

              <div class="form-outline mb-4">
                <input
                  type="text"
                  id="username"
                  name="username"
                  class="form-control"
                />
              </div>

              <!-- Password input -->
              <label class="login-label" for="password">Password</label>
              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  class="form-control"
                  name="password"
                />
              </div>
              <br />
              <!-- Submit button -->
              <button
                style="background-color: #323a96"
                type="submit"
                class="btn btn-primary btn-block mb-4"
              >
                Sign in
              </button>
            </form>
            <% } else { %>
            <h1 class="hero-title">Welcome! <%= user.username %>.</h1>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
